name: Deploy to Kubernetes

on:
  push:
    branches:
      - master
    paths:
      - 'k8s/*.yaml'

jobs:
  deploy-and-verify:
    runs-on: ubuntu-latest
    steps:
    - name: Check out the code
      uses: actions/checkout@v4
    - name: Start minikube
      uses: medyagh/setup-minikube@latest
    - name: Apply Kubernetes configurations
      run: |
        kubectl apply -f k8s/player-deployment.yaml
        kubectl apply -f k8s/server-deployment.yaml
    - name: Verify deployment
      run: |
            kubectl get deployments
            kubectl get pods
